

.mainContainer {
    width: auto;
    height: auto;
    margin: 0 1em;
    margin-top: 2em;
    padding: 10px 5px;
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%,  #457B9D 50%,  #457B9D 100%);
}

.submit2 {
    cursor: pointer;
    border-radius: 5em;
    color: white;
    background-color: #457B9D;
    border: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin: 10px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04)
}


.formSubmit {
    display: flex;
    justify-content: center;
}

.detailsButton {
    display: flex;
    justify-content: center;
    margin-top:1em;
}

.card2 {
    height: 350px;
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    padding: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    text-align: center;
}

.card3 {
    height: auto;
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
    padding: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    text-align: center;
}

.scrollDown1 {
    max-height: 220px;
    overflow-y: scroll;
}

@media screen and (max-width : 1000px){
    
}