.navigation-brand {
    margin-left: 1em;
    font-size: 1.5em;
    font-family: Copperplate;
}

.navigation-brand.navbar-brand:hover {
    color: #d4af7a;;
}

.navigation-links {
    margin-right: 2rem;
    font-size: 1.2rem;
}

.conditionalNav {
    display: inline-block;
    font-family: Copperplate;
    margin-left: 10px;
    text-decoration: none;
    color: blanchedalmond;
}

.ml-auto, .navigation-links {
    font-family: Copperplate;
    margin-right: 0;
    text-decoration: none;
    color: blanchedalmond;
}

.linkTo {
    text-decoration: none;
    color: white;
}

.linkTo:hover {
    text-decoration: none;
    color: #d4af7a;
}

.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20em;
    margin-right: 9em;
}

.searchButton {
    margin-top: 5px;
    border-radius: 5em;
    font-family: Copperplate;
}

.mr-sm-2 {
    border-radius: 5em;
    font-family: Copperplate;
}

@media screen and (max-width : 1050px){
    .searchBar {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }
    #navBar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
