.referrals-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.centralCard {
    padding: 1em 2em;
    margin-right: 1em;
    width: 70%;
    background-color: #A8DADC;
    border: solid 5px white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.jobCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formReferral {
    padding: 1em 2em;
    margin-left: 1em;
    margin-top: 0.5em;
    width: 100%;
    max-height: 450px;
    background-color: #F1FAEE;
    border: solid 5px white;
    border-radius: 20px;
    box-shadow: black;
}

.referrals {
    padding: 1em 2em;
    margin-left: 1em;
    margin-top: 0.5em;
    width: 100%;
    max-height: 635px;
    background-color: #F1FAEE;
    border: solid 5px white;
    border-radius: 20px;
    box-shadow: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollDown {
    max-height: 580px;
    overflow-y: scroll;
}

.cardReferral {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    padding: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}

@media screen and (max-width : 1000px){
    .centralCard {
        padding: 1em 2em;
        width: 95%;
        background-color: #A8DADC;
        border: solid 5px white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .referrals-flex {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        align-items: center;
    }
    .formReferral {
        width: 85%;
        margin: 0 auto;
        max-height: 450px;
        background-color: #F1FAEE;
        border: solid 5px white;
        border-radius: 20px;
        box-shadow: black;
    }
    .referrals {
        width: 85%;
        margin: 1em auto;
        max-height: 635px;
        background-color: #F1FAEE;
        border: solid 5px white;
        border-radius: 20px;
        box-shadow: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}