.searchDiv {
    min-height: 90vh;
    width: 400px;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchResult {
    color: black;
    text-align: center;
}

.searchResult:hover {
    color: #d4af7a;
}

.emptyImg {
    margin-top: 5em;
    margin-bottom: 1em;
}

.card3 {
    display: flex;
    justify-content: center;
    background-color: #457B9D ;
    flex-direction: column;
    padding: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    text-align: center;
}