.searchDiv {
    height: 500px;
    width: 400px;
    margin: 6em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchResult {
    color: black;
    text-align: center;
}

.searchResult:hover {
    color: #d4af7a;
}

.emptyImg {
    margin-top: 7em;
}